.titulo {
    font-family: sans-serif;
}

.background {
    background-image: url(/Images/background.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

.background1 {
    background-image: url(/Images/animais3.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: 800px;
}

.background2 {
    background-image: url(/Images/duvidas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 768px;
}

.background3 {
    background-image: url(/Images/meses.png);
    background-repeat: no-repeat;
    height: 1000px;
    background-size: 1500px;
}

.logo {
    background-image: url(/Images/logo.png);
    width: 230px;
    position: absolute;
    top: 25px;
    left: 200px;
}

.checkbox {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    padding: 10px;
}

.espaçoFicha {
    height: 50px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.margemFicha {
    margin-left: 10px;
}

.card {
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    filter: blur(0px);
    transition: filter 0.5s ease;
}

.card:hover .card-image {
    filter: blur(5px);
    /* Apply a blur effect of 5px when the card is hovered over */
}


.card-title {
    margin: 0;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: left;
    justify-content: top;
    padding-top: 30px;
    padding-left: 7px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    text-align: left;
    opacity: 0;
    /* The text is hidden by default */
    transition: opacity 0.5s ease;
    /* Add a transition to the opacity property */
}

.card:hover .card-text {
    opacity: 1;
    /* Fade in the text when the card is hovered over */
}


#card1 {
    background-image: url("../img/Dietas/bulk.jpg");

}

#card2 {
    background-image: url("../img/Dietas/USP.jpg");
}

#card3 {
    background-image: url("../img/Dietas/ronaldo.jpg");
}