.navbar a {
    color: white;
}

.navbar a:hover {
    background-color: purple;
    border-radius: 30px;
}

.navbar a:hover {
    background-color: purple;
    transition: background-color 0.5s;
    border-radius: 30px;
}

.nav-item .active {
    background-color: purple;
    border-radius: 30px;
}

.navbar {
    font-size: larger;
}